---

import '../../styles/global.css';
import BaseLayout from '../../layouts/BaseLayout.astro';

//Utils Imports
import { sortPostsByDate } from '../../scripts/utils';
import { getCollection } from 'astro:content';

//let posts = await getCollection('visualJournal');
const posts = sortPostsByDate(
	await getCollection('visualJournal'))
	.filter(post => !post.data?.draft);
const title = "visualJournal";
const allPosts = Object.values(import.meta.glob('../../content/visual-journal/*.md', { eager: true }));
const description = "graphic design and typography related snippets of design work, works in progress, and inspiration";

---

 <BaseLayout {title} {description}>
	<div class="post-index">
	  <ul>
			{posts.map(post => (

				
		  <li>
 			<a href={`visual-journal/${post.id}`}>{post.data.title}</a>
			<img src={post.data.image.url} alt={post.data.image.alt} />
		  </li>
		))}
	  </ul>
	</div>
  </BaseLayout>