---
const pageTitle = "Info";
const author = "Annie Szafranski";
const pageDescription = "Annie Szafranski is a California based graphic designer and typographer designing editorial experiences across the web and in print.";

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Logotype from '../components/Logotype.astro';
import Footer from '../components/Footer.astro';
import Favicon from '../components/Favicon.astro';

---

<html lang="en">


	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {author}</title>
		<meta name="author" content= {author} />
		<meta name="description" content={pageDescription}/>
		<a rel="me" href="https://typo.social/@annie"></a>
		<Favicon />
		<Logotype />
	</head>


	<body>
		<Navigation />
	
			<main class="grid-container">
				
			
				<section class="about">
						<h1>Annie Szafranski is a California-based designer and typographer designing editorial experiences across the web and in print. She is a Senior Designer at <a href="https://mixpanel.com/" target="_blank">Mixpanel</a> on the Brand and Interactive team, and a type design student in the <a href="https://letterformarchive.org/type-west-online/" target="_blank">Type West Online</a> program through the <a href="https://letterformarchive.org/" target="_blank"> Letterform Archive.</a></h1>
				
						<aside class="contact">
							<h4>Contact</h4>
							<ul>
								<li><a href="https://www.linkedin.com/in/annieszafranski/?original_referer=https%3A%2F%2Fwww.annieszafranski.com%2F">LinkedIn</a></li>
								<li><a href="mailto:annieszaf@proton.me">Email</a></li>
								<li><a href="https://www.instagram.com/a.szaf/">Instagram</a></li>
								<li><a href="https://typo.social/@annie">Mastadon</a></li>
							</ul>
						</aside>
				
				</section>
				


				<section class="project-grid">

				<!---------- PROJECT 1 ------------>

						<div class="project">
							<a href="/design-portfolio/projects/mixpanel-blog-redesign"><img src="/design-portfolio/images/mixpanel-signals-and-stories/signals-and-stories-primary.jpg"></a>
							<h2 class="project-title"><a href="projects/mixpanel-blog-redesign">Signals & Stories</a></h2>
								<p class="project-type">Web Design</p>
						</div>

				<!---------- PROJECT 2 ------------>

						<div class="project">
							<a href="/design-portfolio/projects/beatrice-no-30-type-revival"><img src="/design-portfolio/images/beatrice-no-30/beatrice-no-30_0.jpg"></a>
							<h2 class="project-title"><a href="projects/beatrice-no-30-type-revival">Beatrice No. 30</a></h2>
								<p class="project-type">Type Design</p>
						</div>		

				<!---------- PROJECT 3 ------------>

						<div class="project">
							<a href="/design-portfolio/projects/mixpanel-rebrand"><img src="/design-portfolio/images/mixpanel-rebrand/mixpanel-rebrand.webp"></a>
							<h2 class="project-title"><a href="projects/mixpanel-rebrand">Mixpanel Rebrand</a></h2>
								<p class="project-type">Brand and Web Design</p>
						</div>	

				<!---------- PROJECT 4 ------------>
						
						<div class="project">
							<a href="/design-portfolio/projects/marlborough-titling"><img src="/design-portfolio/images/marlborough-titling/marlborough-titling_10.png"></a>
							<h2 class="project-title"><a href="projects/marlborough-titling">Marlborough Titling</a></h2>
								<p class="project-type">Type Design</p>
						</div>	

				<!---------- PROJECT 5 ------------>

						<div class="project">
							<a href="/design-portfolio/projects/taxes-retirement-home-album-design"><img src="/design-portfolio/images/taxes-retirement-home/taxes-retirement-home-album_1.jpg"></a>
							<h2 class="project-title"><a href="projects/taxes-retirement-home-album-design">Taxes: Retirement Home</a></h2>
								<p class="project-type">Album Design</p>
						</div>	

				<!---------- PROJECT 6 ------------>

						<div class="project">
							<a href="/design-portfolio/projects/the-guide-to-product-analytics-book-design"><img src="/design-portfolio/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book.jpg"></a>
							<h2 class="project-title"><a href="projects/the-guide-to-product-analytics-book-design">The Guide to Product Analytics</a></h2>
								<p class="project-type">Book Design</p>						
							</div>	

				</section>



		</main>
	
	</div>

		<Footer />
	  </body>
</html>
