---
const pageTitle = "Info";
const author = "Annie Szafranski";
const pageDescription = "Annie Szafranski is a California based graphic designer and typographer designing editorial experiences across the web and in print.";

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Logotype from '../components/Logotype.astro';
import Footer from '../components/Footer.astro';
import Favicon from '../components/Favicon.astro';
import GoogleTag from '../components/Google-tag.astro';
import Hamburger from '../components/Hamburger.astro';

---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {author}</title>
		<meta name="author" content= {author} />
		<meta name="description" content={pageDescription}/>
		<a rel="me" href="https://typo.social/@annie"></a>
		<Favicon />
		<Logotype />

	</head>
<GoogleTag />

<body>
	<Navigation />

		<main class="grid-container-info">
			
		
			<section class="info-col-1">
				<img src="/images/headshot.jpg">					
			</section>

			<section class="info-col-2">
				<h1 class="info">Hi, I’m Annie. I’m a designer and typographer designing editorial experiences. I’ve spent over 10 years as an in-house designer, primarily in the tech industry, working across brand and interactive teams.</h1>
					<p>I design across print and web and have done so my whole career, working with companies like Eventrbite, Saatchi & Saatchi, Everlane, Compass, and more. I’m known for my strong foundation in design and typographic knowledge, as well as the attention to detail that goes along with it. I mantain a balance and appreciation across both disciplines—with each informing and pushing the other.</p><br>
				<p>Typography and working with text is my happy place, so I am thrilled to be learning how to design typefaces this year through the Type West program through the Letterform Archive—a dream! The program has already brought me surprisingly closer to the web and makes me see type and my design practice differently. I'm excited to see what comes next in my journey!</p><br>

				
				<aside class="contact">
					<h4>Contact</h4>
					<ul>
						<li><a href="https://www.linkedin.com/in/annieszafranski/?original_referer=https%3A%2F%2Fwww.annieszafranski.com%2F">LinkedIn</a></li>
						<li><a href="mailto:annieszaf@proton.me">Email</a></li>
						<li><a href="https://www.instagram.com/a.szaf/">Instagram</a></li>
						<li><a href="https://typo.social/@annie">Mastadon</a></li>
					</ul>
				</aside>

<!-- 
				<aside class="contact">
					<h4>Colophon</h4>
					<p>This website was designed and built by Annie Szafranski using Astro, and is a work in progress. The logotype is set in Pirelli A VIP by Lineto. The Headline copy is set in Resonay by TypeMates. The body copy is set in Spline Sans by Eben Sorkin and Mirko Velimirović.</p>
				</aside>
			</section>
-->
		

	</main>

</div>

	<Footer />

	<script>        
		import "../scripts/menu.js";
	</script>

  </body>
</html>
