---
const pageTitle = "Info";
const author = "Annie Szafranski";
const pageDescription = "Annie Szafranski is a California based graphic designer and typographer designing editorial experiences across the web and in print.";

import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Logotype from '../components/Logotype.astro';
import Footer from '../components/Footer.astro';
import Favicon from '../components/Favicon.astro';

---

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {author}</title>
		<meta name="author" content= {author} />
		<meta name="description" content={pageDescription}/>
		<a rel="me" href="https://typo.social/@annie"></a>
		<Favicon />
		<Logotype />

	</head>

<body>
	<div class="page-container">
	<Navigation />
	<main class="grid-container-info">



			<!-------------- INTRO -------------->

			<section id="info-intro">
				<!--<img src="/images/headshot.jpg">-->
				<img src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_auto/v1740707709/100_0920__edit_tsqq8o.jpg">
				<aside class="contact">
					<h4>Contact</h4>
					<ul>
						<li><a href="https://www.linkedin.com/in/annieszafranski/?original_referer=https%3A%2F%2Fwww.annieszafranski.com%2F">LinkedIn</a></li>
						<li><a href="mailto:annieszaf@proton.me">Email</a></li>
						<li><a href="https://www.instagram.com/a.szaf/" rel="me">Instagram</a></li>
						<li><a href="https://typo.social/@annie" rel="me">Mastodon</a></li>
					</ul>

			</section>

		<!-------------- EXPERIENCE -------------->

			<section id="info-text">

				<h1 class="info">Hi, I’m Annie. I’m a California-based independent designer, creating editorial experiences across the web and print.</h1>
				<p>I’ve spent over 10 years designing in-house, working across brand and interactive teams as an IC, building up brands and designing websites. I have worked on talented design teams at <a href="https://www.mixpanel.com/" target="_blank">Mixpanel</a>, <a href="https://www.compass.com/" target="_blank">Compass</a>, <a href="https://www.wearesaatchi.com/" target="_blank">Saatchi & Saatchi</a>, <a href="https://www.everlane.com/" target="_blank">Everlane</a>, and <a href="https://www.eventbrite.com/" target="_blank">Eventbrite</a>.</p>
				<p>In 2024, I dedicated time to learning type design seriously and became a student at <a href="https://letterformarchive.org/type-west-online/">Type West</a>, a year-long type design and type history program through the <a href="https://letterformarchive.org/">Letterform Archive</a>. It has been a long-awaited dream of mine to be a student in the program, and am now officially part of the graduating <a href="https://typewest.letterformarchive.org/2024/" target="_blank">class of 2024!</a> The program has brought me even closer to the web and makes me see typography and my design practice in a fresh and inspiring way—including diving into code again and learning more frontend. I’m excited to see what comes next in my journey, and see how type design can play a bigger part in transforming my role as a designer that I've continued to grow within, especially around web and product.</p> 
				<p>With that, I welcome new opportunities for full-time and freelance work (design and type design), as well as collaborations, and friendship!</p>
				<p>This website is a work in progress and so am I. I’ve removed most in-house work to make room for the new, but will happily share on request for full-time or freelance inquiries.</p>
				
			</section>

		<section id="colophon">
			<h6>Colophon</h6>
			<p>This static website is designed and built by Annie Szafranski using <a href="https://astro.build/">Astro</a> and GitHub pages—it is a work in progress. The logotype is set in <a href="https://lineto.com/typefaces/pirelli-vip">Pirelli</a> designed by Masahiro Nakamura and <a href="https://lineto.com/information/designers/lineto-designers/weichi-he">Weichi He</a>. The Headline copy is set in <a href="https://www.typemates.com/fonts/resonay">Resonay</a> by <a href="https://www.typemates.com/about/andrej-dienes">Andrej Dieneš</a>. The body copy is set in <a href="https://fonts.google.com/specimen/Spline+Sans">Spline Sans</a> by <a href="https://fonts.google.com/?query=Eben+Sorkin">Eben Sorkin</a> and <a href="https://fonts.google.com/?query=Mirko+Velimirovi%C4%87">Mirko Velimirović</a>.</p>		
		</section>
		<section id="colophon-grid-lines"><p></p></section>

	</main>


	<Footer />

	<script>        
		import "../scripts/menu.js";
	</script>
	</div>
  </body>
</html>
