---
const title = "Resume";
const author = "Annie Szafranski";
const description =
  "Over 10 years of in-house design experience working across brand, interactive, and product. Mixpanel > Compass > Saatchi & Saatchi > Everlane > Wanelo > Eventbrite > Twitter.";

import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import Logotype from "../components/Logotype.astro";
import Favicon from "../components/Favicon.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/public/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | {author}</title>
    <meta name="author" content={author} />
    <meta name="description" content={description} />
    <Favicon />
    <Logotype />
  </head>

  <body>
    <div class="page-container">
    <Navigation />
    <main class="grid-container">
      <!-------------- INTRO -------------->

      <section id="resume-intro">
        <h3 class="resume">Intro</h3>
        <article class="resume-section">
          <h2>
            Annie Szafranski brings 10+ years of in-house design experience
            working across brand, interactive, and product. She’s passionate
            about design foundations, typography, type design, and whatever the interest of
            the week is.
          </h2>
        </article>
      </section>

      <!-------------- EXPERIENCE -------------->

      <section id="experience">
        <h3 class="resume">Experience</h3>


        <article class="resume-section">
          <h2>Mixpanel</h2>
          <p>Senior Designer</p>
          <p>2021 to 2025</p>
        </article>

        <article class="resume-section">
          <h2>Compass</h2>
          <p>Senior Designer</p>
          <p>2018 to 2021</p>
        </article>

        <article class="resume-section">
          <h2>Everlane</h2>
          <p>Graphic Designer, Contract</p>
          <p>2015 to 2018</p>
        </article>

        <article class="resume-section">
          <h2>Wanelo</h2>
          <p>Communication Designer</p>
          <p>2014</p>
        </article>

        <article class="resume-section">
          <h2>Eventbrite</h2>
          <p>Visual Designer</p>
          <p>2013 to 2014</p>
        </article>

        <article class="resume-section">
          <h2>Twitter</h2>
          <p>Production Designer</p>
          <p>2012 to 2013</p>
        </article>
      </section>

      <!-------------- EDUCATION -------------->

      <section id="education">
        <h3 class="resume">Education</h3>

        <article class="resume-section">
          <h2>B.S. Visual Communication</h2>
          <p>San Francisco State University</p>
          <p>2012</p>
        </article>
      </section>

      <!-------------- VOLUNTEER -------------->

      <section id="volunteer">
        <h3 class="resume">Volunteer</h3>

        <article class="resume-section">
          <h2>Phase 1: Data Collection, Web</h2>
          <p>For the People (A Leftist Library Project)</p>
          <p>2023</p>
        </article>

        <article class="resume-section">
          <h2>Rare Book Room Docent</h2>
          <p>San Diego Central Library</p>
          <p>2017 to 2019</p>
        </article>
      </section>

      <!-------------- CONTINUED LEARNING -------------->

      <section id="continued-learning">
        <h3 class="resume">Continued Learning</h3>

        <article class="resume-section">
          <h2>Teaching Assistant</h2>
          <p>Type West</p>
          <p>Letterform Archive, Contract</p>
        </article>

        <article class="resume-section">
          <h2>Type West</h2>
          <p>Sahar Afshar, Michele Patanè, Romina Hernández, and Fer Cozzi</p>
          <p>Letterform Archive</p>
         <!-- <p>January 2024 to January 2025</p>-->
        </article>

        <article class="resume-section">
          <h2>Intro to Modern Type Design</h2>
          <p>Kel Troughton, Letterform Archive</p>
          <!--<p>January to April 2023</p> -->
        </article>

        <article class="resume-section">
          <h2>Typography Summer School, LA Intensive</h2>
          <p>Fraser Muggeridge and Benjamin Critton</p>
          <!--<p>June 2019</p>-->
        </article>

        <!--- 
        <article class="resume-section">
          <h2>Variable Type Design Workshop</h2>
          <p>Dinamo Type, The Southland Institute</p>
          <p>March 2019</p>
        </article> 
        -->

        <article class="resume-section">
          <h2>Copyediting</h2>
          <p>UCLA Extension</p>
          <!--<p>January 2019 to March 2019</p> -->
        </article>

        <article class="resume-section">
          <h2>Intro to Calligraphy, English Round Hand</h2>
          <p>UCSD Extension</p>
          <!-- <p>October 2018 to November 2018</p> -->
        </article>

        <article class="resume-section">
          <h2>Letterpress Printing 1</h2>
          <p>City College of San Francisco</p>
          <!--<p>Fall 2014</p> -->
        </article>
      </section>
    </main>

    <Footer />
    <script>
      import "../scripts/menu.js";
    </script>
    </div>
  </body>
</html>
