---
const pageTitle = "Mixpanel Rebrand";
const author = "Annie Szafranski";
const pageDescription = "Reimagining and evolving the brand for a 14-year-old analytics company.";


import '../../styles/global.css';
import Favicon from '../../components/Favicon.astro';
import Logotype from '../../components/Logotype.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {author}</title>
        <meta name="author" content={author} />
        <meta name="description" content={pageDescription} />
        <Favicon />
        <Logotype />
	</head>
	<body>
		<Navigation />

		<main class="grid-container">

     <!--   <div class="project-case-study"> --> 

        
<!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

				<section class="project-info">
                    <h1>{pageTitle}</h1>
                    <h2>Reimagining and evolving the brand for a 14-year-old analytics company</h2>
                    <a class ="read-more" href ="#project-description">Read More</a>
				</section>





<!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->
				
                <section class="project-photos">

                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_1.jpg" alt="Opening image with the new serif Mixpanel logo front and center in dark purple on a white background with a soft gradient">
                        <figcaption></figcaption>
                   </figure>

                   <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_2.jpg" alt="Good decisions make progress possible written in light purple on a dark purple background">
                        <figcaption></figcaption>
                    </figure>

                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_3.jpg" alt="Graphic of the new Mixpanel X taking shape: Data + Discover + Evolution">
                        <figcaption></figcaption>
                    </figure>

                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_4.jpg" alt="Illustration is masked within the new Mixpanel X icon">
                        <figcaption></figcaption>
                    </figure>

                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_5.jpg" alt="Logo spacing for the new Mixpanel logo and icon on a dark purple background">
                        <figcaption></figcaption>
                    </figure>

                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_6.jpg" alt="Close up graphic of the X shape on a grid and close up of its besier curves">
                        <figcaption></figcaption>
                    </figure>

                    <figure>
                        <img src="/public/images/mixpanel-rebrand/mixpanel-brand_7.jpg" alt="A variety of X's in different colored squares to show off the icon and new brand colors">
                        <figcaption></figcaption>
                    </figure>

                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_8.jpg" alt="Colors broken down by names and values">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_9.jpg" alt="Primary typeface brakdown using Garnett by Sharp Type">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_10.jpg" alt="Secondary typeface breakdown using Arizona Text by Dinamo Type">
                        <figcaption></figcaption>
                    </figure>



                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_12.jpg" alt="Sample guidelines discussing typographic breakdowns and usage">
                        <figcaption></figcaption>
                    </figure>



                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_14.jpg" alt="Examples of new colors, type, and logos on an an assortment of collateral">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_15.jpg" alt="Mockup of a laptop with the new Mixpanel.com homepage featured">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_16.jpg" alt="Closeup of some new website elements">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_17.jpg" alt="Mockup of person holding a tablet with the Mixpanel signup page featured">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_18.jpg" alt="Website snipped of a plan-builder on mixpanel.com">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_19.jpg" alt="Example of full illustration style in use on the product">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_20.jpg" alt="Examples of spot illustrations in use in the product.">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_21.jpg" alt="Spot illustration highlighing computers and systems.">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_22.jpg" alt="New iconography on a background and featured in the product.">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_23.jpg" alt="Displaying new brand icons for Mixpanel.com experience">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_24.jpg" alt="3-up image of example Mixpanel ads">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_25.jpg" alt="An assortment of Mixpanel ads in a 5 col grid">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_26.jpg" alt="Mixpanel business cards">
                        <figcaption></figcaption>
                    </figure>


                    <figure>
                        <img src="/images/mixpanel-rebrand/mixpanel-brand_27.jpg" alt="Digital out of home advertising">
                        <figcaption></figcaption>
                    </figure>

                  

                <!-- Embedded Video -->
               <figure class="video-container">
                    <iframe 
                    width="100%" 
                    height="100%"
                    src="https://www.youtube-nocookie.com/embed/Udn6MfmBf0k?si=iV6DEsvWA3wWOfsR&amp" 
                    title="Analytics for everyone. Let's build." 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
                    </iframe>
                    <figcaption>Video: Caption describing the video content</figcaption>
                 </figure>

			</section>





				    
                

<!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->


                <article class="project-description"><a id="project-description"></a>

                   <h3 class="description-heading">About the Rebrand</h3>
                        <p>Founded in 2009, Mixpanel was designed to remove the abstractions of product analytics and make it easy to get answers from your data. A lot has changed since then and with Mixpanel considered pioneers in the space, the company needed to evolve, expand their vision, and rethink the brand from end to end. This started with conversations, interviews, and a fully developed brand brand strategy—to what we have today on the new mixpanel.com. Analytics for everyone.</p>
                        <p>This was an extensive, collaborative, company-wide initiative with direct impact. It's incredibly rare to go through a robust rebrand in-house, but the Mixpanel design team had the opportunity and team to do so, with the help of essential collaborators and specialists throughout the project such as Jeremy Mickel of <a href="https://mckltype.com/custom/" target="_blank">MCKL type</a> and <a href="http://cenjun.com/" target="_blank">Jun Cen.</a></p>
                        <p>The entire rebrand took over a year to complete. My contributions to this large and collaborative project was working in the weeds with my fellow colleagues from start to finish. This included visual research for art direction, creating logo concepts, pushing art direction, typographic research (testing and pairing), and presenting directions and progress.</p>
                        <p>In the midst of the brand work, our team grew and I joined the new interactive team to focus on the mixpanel.com experience, where the new brand would be front and center, and therefore redesigned completely. I worked closely with our small interactive team comprised of designers and engineers, while working closely with brand to ensure we were all visually aligned.</p>
                        <p>This was a massive project that took so much time and effort. If you'd like to learn more of the details, I've included some additional write-ups below!</p>

                    
                    <h3 class="description-heading">Credit</h3>
                    <h4 class="description-heading">Brand Team</h4>
                        <p>Alex Shepherd, Annie Szafranski, Erik Blad, Ka Lee, Mark Johnson, Michael Casebolt, Paul Jun, Ryan Howard, Tara Odorizzi</p>
                    <h4 class="description-heading">Brand Collaborators</h4>
                        <p>Chris Armstrong, Jeremy Mickel, Jon Howell, Jun Cen, Lorin Schaecher, Michael Taylor</p>
                    <h4 class="description-heading">Engineering</h4>
                        <p>Andrew Leap, Austin Pray, Erik Erikson, Jess Wolvington, Jordan Matyiku Nuñez, Krishna Venkatachalam, Lindsey Bradford, RhoEun Song, Scot Matson, Tiffany Qi</p>
                    <h4 class="description-heading">Marketing/PMM</h4>
                        <p>Andrew Rhodes, Anya Pratskevich, Elena Torres Marcellan, Laura Krieger, Lauren Volpi, Perla Virgen-Silva, Serene Ho, Tiffany Chen, Vijay Jayaram</p>
                    <h4 class="description-heading">Product Design</h4>
                    <p>Alex Coleman, Brent Palmer, David Arjun, Jon Yablonski, Julia Luo, Kaitlin Kovacevich, Kaitlin Siu, Mary Carnes, Matt Vaccaro, Mike Murray, Ryan Davis</p>



					<h3 class="description-heading">Read more</h3>
                    <p><a target="_blank" href="https://www.underconsideration.com/brandnew/archives/new_logo_and_identity_for_mixpanel_done_in_house.php">"There is More Where Data Came From"</a> by Armin Vet, Brand New</p>
                    <p><a target="_blank" href="https://mixpanel.com/blog/brand-is-behavior/">"Brand is behavior"</a> by Paul Jun, Principal Brand Strategist, Mixpanel</p>
                    <p><a target="_blank" href="https://mixpanel.com/blog/tech-stack-website-design/">"‍The new Mixpanel.com: How to marry design with the right tech stack"</a> by Erik Erickson, Senior Software Engineer, Mixpanel</p>
                    <p><a target="_blank" href="https://mixpanel.com/blog/our-next-step-analytics-for-everyone/">"‍‍Our next step: Analytics for everyone"</a> by Amir Movafaghi, CEO, Mixpanel</p>


					
                </article>
            </main>

		<Footer />
	</body>
</html>
