---
const pageTitle = "Primitiv Text";
const author = "Annie Szafranski";
const pageDescription = "An original font inspired by fundamental waveforms of synthesized sound.";


import '../../styles/global.css';
import Favicon from '../../components/Favicon.astro';
import Logotype from '../../components/Logotype.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {author}</title>
		<meta name="author" content={author} />
		<meta name="description" content={pageDescription} />
		<Favicon />
		<Logotype />
	</head>

	<body>
		<Navigation />

			<main class="grid-container">

        
<!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

				<section class="project-info">
                    <h1>{pageTitle}</h1>
                    <h2>An original font inspired by fundamental waveforms of synthesized sound.</h2>
                    <a class ="read-more" href ="#project-description">Read More</a>
				</section>




<!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->
				
                <section class="project-photos">
                    <figure>
						
					<img 
						style="background: rgb(6, 6, 6);"
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_50/v1738902608/primitiv-text_1_jmow5m.png" alt="Introductory slide showing the name of a new Type Family: Primitiv Text. Background of is of a nameless synthesizer and the font name is on a white background.">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img 
						style="background: rgb(6, 6, 6);"
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_30/v1738902606/primitiv-text_2_qjwrzh.png" alt="Font weights are displayed in order from backslant, regular, medium, semibold and bold in white text on a black background with a synthesizer and oscilloscope in view">
						<figcaption></figcaption>
					</figure>


					<figure>
						<img 
						style="background: rgb(6, 6, 6);"
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_auto/v1738902606/primitiv-text_3_mg958w.png" alt="3 column view of primary styles: regular, backslant, and bold in white text on a black background: listing synth related words">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img
						style="background: rgb(6, 6, 6);" loading="lazy" 
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_auto/v1738902605/primitiv-text_4_gkev8l.png" alt="2 column view of type features: weight on the left, slant on the right">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img style="background: rgb(6, 6, 6);" loading="lazy" 
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_auto/v1738902605/primitiv-text_5_swa2e7.png" alt="Full glyph set view in regular weight. Each glyph is in its own box with the unicode below. Boxes and text is in yellow on a black background.">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img style="background: rgb(255, 255, 255);" loading="lazy" 
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_auto/v1738902607/primitiv-text_6_cilmss.png" alt="Collection of a single paragraph in every style for Primitv text in black text on a light gray background. Paragraph is about subtractive synthesis.">
						<figcaption></figcaption>
					</figure>


					<figure>
						<img style="background: rgb(255, 255, 255);" loading="lazy" 
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_auto/v1738902605/primitiv-text_7_tgizwq.png" alt="Full glyph set in each primary style: regular, backslant, and bold in black text on a light gray background.">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img style="background: rgb(6, 6, 6);" loading="lazy" 
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_60/v1738902609/primitiv-text_8_be0f4w.png" alt="Collection of ephemeral pieces highlighting Primitiv Text in different styles: showing a club flyer, a one sheet of technical writing, and 2 graphics on sound with a label underneath. All sitting on top of a textured black and white background.">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img style="background: rgb(6, 6, 6);" loading="lazy" 
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_60/v1738902609/primitiv-text_9_qvp8eg.png" alt="A final shot of Primitiv Text front and center, on a textured and colorful vhs background, pulled from my upcoming video.">
						<figcaption></figcaption>
					</figure>

					<figure>
						<img style="background: rgb(6, 6, 6);" loading="lazy" 
						src="https://res.cloudinary.com/dzv7ytxjh/image/upload/f_auto,q_80/v1738902615/primitiv-text_10_pzhnmi.png" alt="Open spread of a book with the original font replaced and swapped for Beatrice No. 30">
						<figcaption></figcaption>
					</figure>

				</section>

				    
                

<!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->


                <article class="project-description"><a id="project-description"></a>

                   <h3 class="description-heading">About The Project</h3>
                        <p>Primitiv Text is a geometric sans serif text typeface with a comfortably noisy texture and primitive forms. It is heavily inspired by fundamental waveform shapes of synthesized sound—triangle, sawtooth, and square waves—visualized through an oscilloscope. Additionally, it pulls inspiration from dense technical synthesizer manuals that describe said machines and how to use them. Primitiv Text is constructed with vertical, horizontal, and diagonal lines to create curves without curves, and includes four weights and a backslant to create a textured reading experience.</p>
                
						<h3 class="description-heading">Thanks</h3>
						<p>Primitiv Text was created with the excellent guidance and support of the Type West Online instructors and teaching assistants.</p>
						<p>Lead Instructor: Sahar Afshar<br>
						Co-Instructor: Fer Cozzi<br>
						TAs: Nora Warschewski and Allie Schmitz</p>

					
				</article>
            </main>

		<Footer />

		<script>		
			import "../../scripts/menu.js";
		</script>
		
	</body>
</html>