---
const pageTitle = "Taxes: Retirement Home";
const author = "Annie Szafranski";
const pageDescription = "Album design for Bay Area band, Taxes";

import '../../styles/global.css';
import Favicon from '../../components/Favicon.astro';
import Logotype from '../../components/Logotype.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import GoogleTag from '../../components/Google-tag.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="author" content={author} />
        <meta name="description" content={pageDescription} />
		<title>{pageTitle} | {author}</title>
        <Favicon />
        <Logotype />
	</head>
    <GoogleTag />
    
	<body>
		<Navigation />

			<main class="grid-container">

        
<!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

				<section class="project-info">
                    <h1>{pageTitle}</h1>
                    <h2>Album design for Bay Area band, Taxes</h2>
                    <a class ="read-more" href ="#project-description">Read More</a>
				</section>





<!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->
				
                <section class="project-photos">

                    <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_1.jpg" alt="Photo of the CD angled at a distance on a back background. The CD cover has a painting of a ghost on it with the band name somewhat hidden in the fabric of the ghost ">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_2.jpg" alt="Standard top down shot of the CD cover directly centered.">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_3.jpg" alt="Top-down shot of the CD packaging open: The CD is hot pink and has a shovel illustration on it. The Booklet is a dark navy whith a flower pattern and an arched window graphic in the center. ">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_4.jpg" alt="Close-up shot of just the booklet, opened, with the lyrics printed towards the center and flower pattterns on the edges">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_5.jpg" alt="Close-up of the back of the CD case with the song titles listed at the bottom.">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_6.jpg" alt="CD packaging (digipak) is placed vertically and open with its spine visible: Taxes - Retirement Home">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_7.jpg" alt="Photo of the CD packaging (digipak) is placed vertically with the booklet open and showing the lyrics.">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/taxes-retirement-home/taxes-retirement-home-album_8.png" alt="3-up preview of the single releases for: last call, foie gras and sancerre, and frozen lake">
                         <figcaption></figcaption>
                     </figure>

				</section>

				    
                

<!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->


                <article class="project-description"><a id="project-description"></a>

                   <h3 class="description-heading">About the Project</h3>
                        <p>Earlier this year, I worked with San Francisco-based band, Taxes, on their latest album, <em>Retirement Home</em>. I worked closely with Robby Cronholm, the lyricist, frontman, and creative force behind Taxes, to help bring the album to life by taking the painting he commissioned for the cover and turning it into a fully designed CD that would match the tone of the album and the painting itself.</p>
                        <p>For this project, I designed within a 4-panel digipak form, and designed an 8-page saddle-stitched booklet of lyrics that rested inside. I created a logotype for Taxes using Sometimes Times by Boulevard Lab, designed the layout for the album, selected colors, and typography, created additional illustrations to accompany the design, and typeset the lyrics within the booklet. Shortly after, I also created artwork for three accompanying singles “Last Call”, “Foie Gras and Sancerre”, and “Frozen Lake”, that visually accompany the album with their earlier releases.</p>
                        <p>This was easily one of my favorite and most special projects because woring with Taxes has been nothing short of amazing. Also, this is now the second CD I've designed for Taxes, the first one being <a href="https://redefinemag.net/2014/album-covers-of-the-year-2014-interviews/9/">back in 2014</a> when I was just 2 years into my career.</p>

                    <h3 class="description-heading">Project Credits</h3>
                        <p>Album Concept by Robby Cronholm <br>
                        Cover Painting by Sam Bee <br>
                        Cover Photography by John Volger <br>
                        Printed by DiscMakers</p>
                    
                       
                    <h3 class="description-heading">Type Credits</h3>
                         <p><a href="https://boulevardlab.com/Sometimes-Times" target="_blank">Sometimes Times</a> by Boulevard Lab<br>
                         <a href="https://ohnotype.co/fonts/obviously" target="_blank">Obviously</a> by OH no Type Co.<br>
                         <a href="https://www.monotype.com/fonts/wolpe-pegasus" target="_blank">Wolpe Pegasus</a> by Berthold Wolpe, digitized by Toshi Omagari of Monotype</p>


               </article>
          </main>

		<Footer />
        <script>		
			import "../../scripts/menu.js";
		</script>
	</body>
</html>
