---
const pageTitle = "The Guide to Product Analytics";
const author = "Annie Szafranski";
const pageDescription = "Book design and typesetting for a high-quality casebound book.";

import '../../styles/global.css';
import Favicon from '../../components/Favicon.astro';
import Logotype from '../../components/Logotype.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {author}</title>
        <meta name="author" content={author} />
<meta name="description" content={pageDescription} />
        <Favicon />
          <Logotype />
	</head>
	<body>
		<Navigation />

			<main class="grid-container">

        
<!---------------------- PROJECT INFO SECTION (6 COL)---------------------->

				<section class="project-info">
                    <h1>{pageTitle}</h1>
                    <h2>Book design and typesetting for a high-quality casebound book</h2>
                    <a class ="read-more" href ="#project-description">Read More</a>
				</section>





<!---------------------- PROJECT PHOTO SECTION (6 COL)---------------------->
				
                <section class="project-photos">

                    <figure>
                         <img src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book_1.jpg" alt="3 Guide to Product Analytics books lined up diagonally on a black background">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book_2.jpg" alt="3 Guide ot Product Analytis books stacked on top of each other on a black background">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book_3.jpg" alt="Opening spread of Chapter 1 which has white text on a puple background that's full bleed and a textured background on the left side">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book_4.jpg" alt="Open spread of Chapter 4 with a noisy black and puple bakcground on the left and full bleed puple background on the right with white text.">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book_5.jpg" alt="Open spread of a chapter that has a Q and A format with product illustrations ">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book_6.jpg" alt="Another open spread of a chapter that has quotes from industry leaders and more product illustrations">
                         <figcaption></figcaption>
                     </figure>

                     <figure>
                         <img src="/images/mixpanel-guide-to-product-analytics/guide-to-product-analytics-book_7.jpg" alt="Close up spread of the text on the page highlighing the question: Where are my most valuable users coming from? ">
                         <figcaption></figcaption>
                     </figure>

			</section>

				    
                

<!---------------------- PROJECT DESCRIPTION SECTION (4 COL) ---------------------->


                <sarticle class="project-description"><a id="project-description"></a>

                   <h3 class="description-heading">About the Project</h3>
                        <p>At Mixpanel, I led the design direction and print production of a high-quality perfect bound book. This book, <em>The Guide to Product Analytics</em>, was created out of the desire to repurpose a successful <a href="https://mixpanel.com/content/guide-to-product-analytics/intro/" target="_blank">digital guide</a>  created that was published on <a href="https://mixpanel.com/" target="_blank">mixpanel.com</a> and bring it into print form. This book was created with the intention to be handed out at events, used for social campaigns, and to encourage product implementation.</p>
                        <p>My role for this project was the lead designer and project manager. I managed communication with the account manager at <a href="https://www.hemlock.com/" target="_blank">Hemlock Printers</a>, designed and typeset the book, created simplified product illustrations that appear throughout the book, selected print materials, approved the proofs, went on a digital press check, and ultimately saw this project through to the end with key teammates along the way.</p>
                        <p>Throughout the process, I had design reviews with members of the design team, including product design for accuracy. After the book was in our hands, I worked with our marketing team at Mixpanel to get fulfillment organized with our third-party shipment vendor and collaborated with marketing and design to create assets for the book to be used across social, email, and on landing page order forms for customers across North America, EMEA, and APAC regions.</p>


                    <h3 class="description-heading">Project Credits</h3>
                        <p>Written by Anya Pratskevich and Marco Sanchez Junco<br>
                        Book design, typesetting, and production by Annie Szafranski <br>
                        Design reviewers by Mike Casebolt, Alex Shepherd, and Mark Johnson <br>
                        Printed by Hemlock <br>
                        Hemlock Account Management by Hope Mosely <br>
                        Book photography by Mike Casebolt <br>
                        Photo edits by Annie Szafranski <br>
                        Motion design by Erik Blad <br>
                        Social posts by Dan Bean and Andrew Rhodes <br>
                        Landing Page setup and email integration by Lindsay Neeson and Alexis Mix <br>
                        Global customer shipping logistics by Janice Kim
                    </p>
                    
                       
                    <h3 class="description-heading">Type Credits</h3>
                         <p><a href="https://klim.co.nz/retail-fonts/untitled-sans/" target="_blank">Untitled Sans</a> by Klim Type<br>
                         <a href="https://www.colophon-foundry.org/typefaces/apercu" target="_blank">Aperçu</a> Colophon Foundry<br>

                    </article>
               </main>

		<Footer />
	</body>
</html>
