---
const title = "";
const author = "Annie Szafranski";
const description = "";

import "../styles/global.css";
import Tag from "../pages/tags/[tag].astro";
import Navigation from "../components/Navigation.astro";
import Logotype from "../components/Logotype.astro";
import Footer from "../components/Footer.astro";
import Favicon from "../components/Favicon.astro";
import Hamburger from "../components/Hamburger.astro";

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title} | {author}</title>
    <meta name="author" content={author} />
    <meta name="description" content={Astro.props.description} />

    <meta property="og:title" content={Astro.props.title}/>
    <meta property="og:description" content={Astro.props.description} />
    <meta property="og:image" content="https://res.cloudinary.com/dzv7ytxjh/image/upload/c_fill,w_872,f_auto,q_60/Primitiv-Text_thumb_gc4qrs.jpg" />
    <meta property="og:image:alt" content="Primitiv Text: A font family inspired by fundamental waveforms of synthesized sound." />
    <meta property="og:type" content="website" />
  </head>

    <Favicon />
  <Logotype />

  <body>
    <div class="page-container">
      <Navigation />

      <div class="content">
        <main class="grid-container">
          <slot />
        </main>
      </div>

      <Footer />
    </div>

    <script>
      import "../scripts/menu.js";
    </script>
  </body>
</html>
