---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
const { title, description, date, tags, author, image} = frontmatter;

---

<BaseLayout {title} {description}>
    <header>
        <div class="container">
            <small>
            </small>
        </div>

    </header>

    <div class="post-content">
        <div class="blog-info">
            <h1>{frontmatter.title}</h1>
                <h2>{frontmatter.description}</h2> 
                <h6>{frontmatter.date.toString().slice(0,10)}  • {frontmatter.tags}</h6>
        </div>
            <slot />
    </div>

</BaseLayout>

